.main-section {
  &__container {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__left {
    padding: 43px 50px;
    width: 52.8%;
    max-height: 100%;
    background-color: var(--tropaz-color);

    @include notebook {
      width: 45%;
    }

    @include tablet {
      width: 100%;
      height: 40vh;
    }

    @include mobile {
      padding: 25px;
    }

    @include small-mobile {
      height: 30vh;
    }
  }

  &__right {
    width: 47.2%;
    padding: 111px 77px 108px 71px;
    background-color: var(--white-color);

    @include notebook {
      width: 55%;
      padding: 100px 50px 100px 50px;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      padding: 25px;
    }
  }

  &__logo {
    &-img {
      width: 140px;
      height: 28px;
    }
  }

  &__left {
    @include image-set('../img/bg');

  }

  &__title {
    margin-bottom: 20px;
    font-size: 29px;
    font-weight: 400;
    line-height: 31px;
    color: var(--text-color);

    @include small-mobile {
      font-size: 21px;
    }

  }

  &__subtitle {
    margin-bottom: 56px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.65px;
    color: var(--slate-gray-color);

    @include small-mobile {
      font-size: 16px;
    }
  }

  &__wrapper {
    margin-bottom: 51px;
    margin-left: 4px;
    display: flex;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
    }
  }


  &__btn {
    padding: 12px 52px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--white-color);
    background-repeat: no-repeat;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }


    &:not(:last-child) {
      margin-right: 6.5%;

      @include mobile {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    &-fb {
      background-color: var(--fb-color);
      background-image: url(../img/facebook.svg);
      background-size: 20px;
      background-position: 10px center;
    }

    &-in {
      padding-right: 59px;
      background-color: var(--in-color);
      background-image: url(../img/linkedin.svg);
      background-size: 17px;
      background-position: 17px center;
    }
  }

  &__text {
    position: relative;
    display: block;
    margin-bottom: 44px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-color);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 27%;
      width: 20%;
      height: 1px;
      background-color: #e5e5e5;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 27%;
      width: 20%;;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}


