.tooltip {
  position: relative;
  cursor: help;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px;
    width: 250px;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--white-color);
    z-index: 5;
    box-shadow: 1px 1px 6px 2px rgba(35, 63, 83, 0.1);
    opacity: 0;
    transition: all 0.4s ease-in-out;

    @include mobile {
      left: 90%;
      transform: translateX(-10%);;
    }

    @include small-mobile {
      width: 200px;
      left: 70%;
      transform: translateX(-30%);;
    }

  }

  &:hover, &:focus{
    &::after {
      opacity: 1;
      display: block;
    }
  }

  &:focus {
    outline: none;
  }

  &__icon {
    width: 13px;
    height: 13px;
    fill: var(--gull-gray-color);
    transition: fill .3s ease-in-out;

    &:hover,
    &:focus {
      fill: var(--text-color);
    }

  }
}




