// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "BarlowRegular", sans-serif;


  --zumthor-color: #EFF6FF;
  --text-color: #2A4A5C;
  --fb-color: #255A9B;
  --in-color: #0076B6;
  --dodgerblue-color: #3698FB;
  --slate-gray-color: #7B8A92;
  --gull-gray-color: #96A5B1;
  --gray-color: #AFAFAF;
  --gray-light-color: #EEEEEE;
  --white-color: #FFFFFF;
}
